<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Getting Started: Serving Web Content</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
	</head>
	<body id="greeting">
		<div th:replace="fragments/header :: header"></div>
		<div class="container" style="min-height: 500px">
			<form class="form-horizontal" id="greeting-form">
				<div class="form-group form-group-lg">
		    		<p th:text="'Hello, ' + ${name} + '!'" class="col-sm-2"/>
		    		<img th:src="@{/images/smiley.png}"/>
	    		</div>
	    		<div class="form-group">
	    			<div class="col-sm-offset-2 col-sm-10">
	    				<input id="testButton" type="button" value="Test" class="btn btn-primary col-xs-1"/>
	    			</div>
	    		</div>
	    	</form>
	    </div>
	    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
	    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>