<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<div th:replace="fragments/header :: header" />
</head>
<body>
	<div th:replace="fragments/header :: navbar" />
	<div class="container">
		<form action="#" th:action="@{/person}" th:object="${personForm}"
			method="post">
			<table class="table">
				<tr>
					<td>Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
						Error</td>
				</tr>
				<tr>
					<td>Age:</td>
					<td><input type="text" th:field="*{age}" /></td>
					<td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name
						Error</td>
				</tr>
				<tr>
					<td><button class="btn btn-lg btn-primary" type="submit">Submit</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>