<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<div th:replace="fragments/header :: header" />
		<link rel="stylesheet" type="text/css" href="css/movie.css" />
	</head>
	<body>
		<div th:replace="fragments/header :: navbar" />
<!-- 		<nav class="navbar navbar-inverse"> -->
<!-- 			<div class="container"> -->
<!-- 				<div class="navbar-header"> -->
<!-- 					<a class="navbar-brand" href="#">Test</a> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</nav> -->
		
		<div class="container" style="min-height: 500px">
			<div class="starter-template">
				<h1>Movie Search</h1>
				
				<form class="form-horizontal" id="search-form">
					<div class="form-group form-group-lg">
						<label class="col-sm-2 control-label">Movie</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="movie" />
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" id="btn-search" class="btn btn-primary btn-lg">Search</button>
						</div>
					</div>
				</form>
				<div id="feedback"></div>
			</div>
		</div>
		
		<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
		<script type="text/javascript" src="js/movie.js"></script>
	</body>
</html>